<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>169239993112-luqrpm9u3fjb9icjg13h03ov4ep7svfu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169239993112-luqrpm9u3fjb9icjg13h03ov4ep7svfu</string>
	<key>API_KEY</key>
	<string>AIzaSyCb1qT4M9C6kUeDZyUQ-lxJoHEvRLtT4rg</string>
	<key>GCM_SENDER_ID</key>
	<string>169239993112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Larry.FinalProject</string>
	<key>PROJECT_ID</key>
	<string>timemanager-a7ea8</string>
	<key>STORAGE_BUCKET</key>
	<string>timemanager-a7ea8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169239993112:ios:51b9b8ab0d7c8370e89c6d</string>
</dict>
</plist>