<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451207975218-tvtdq4nshncorpkps4s2h33v2gucm889.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451207975218-tvtdq4nshncorpkps4s2h33v2gucm889</string>
	<key>API_KEY</key>
	<string>AIzaSyDPIomPYMlitOi6Bkmy8mS0q76fxy_wvmU</string>
	<key>GCM_SENDER_ID</key>
	<string>451207975218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Larry.FinalProject</string>
	<key>PROJECT_ID</key>
	<string>hcid-finalproject</string>
	<key>STORAGE_BUCKET</key>
	<string>hcid-finalproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451207975218:ios:7d36258dcc8bd90408872b</string>
</dict>
</plist>